body {
    width: 100%;
    height: 100%;
    margin: 0px;
    min-width: 900px;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        min-width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2c2a28;
    }
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 78px;
    min-width: 900px;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .header {
        min-width: 100%;
    }
}

.header_title {
    position: relative;
    width: 900px;
    height: 55px;
    display: table;
    margin: 0 auto;
    top:8px;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .header_title {
        margin-left: auto;
        width: auto;
    }
}

.header_logo {
    margin-left: 64px;
    margin-top: 3px;
    float: left;
    width: 54px;
    height: 54px;
    background-image: url(./images/favicon.png);
    background-repeat: no-repeat;
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .header_logo {
        background-image: url(./images/app-icon@2x.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 54px;
        height: 54px;
    }
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .header_logo {
        margin-left: auto;
    }
}

.header_name {
    float: left;
    width: 300px;
    margin-top: 11px;
    margin-left: 15px;
    height: 60px;
    vertical-align: middle;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .header_name {
        width: auto;
        margin-top: 11px;
    }
}
.header_name a {
    text-decoration: none;
}


.header_name h1 {
    display: inline;
    font-family: -apple-system-subheadline, BlinkMacSystemFont, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
    font-size: 32px;
    text-align: left;
    color: black
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .header_name h1 {
        font-size: 28px;
    }
}

@media (prefers-color-scheme: dark) {
    .header_name h1 {
        color: #fefefe;
    }
}

.header_extra {
    margin-right: 64px;
    float: right;
    width: 300px;
    margin-top: 12px;
    height: 39px;
    line-height: 44px;
    vertical-align: middle;
    font-family: -apple-system-subheadline, BlinkMacSystemFont, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
    font-size: 26px;
    text-align: right;
    color: black
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .header_extra {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .header_extra {
        color: #fefefe;
    }
}


.mainpart {
    display: table;
    margin: 0 auto;
    width: 900px;
    height: auto;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .mainpart {
        width: 100%;
        height: auto;
    }
}

.article_main {
    height: auto;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .article_main {
        height: auto;
    }
}

.article_secondary {
    height: 620px;
}

.article_short {
    height: 250px;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .article_secondary {
        height: auto;
    }

    .article_short {
        height: auto;
    }
}

.article_screenshotbox {
    float: left;
    width: 380px;
    height: 100%;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .article_screenshotbox {
        display: none;
    }
}

.article_screenshot {
    margin-left: 64px;
    margin-top: 62px;
    float: left;
    position: block;
    width: 266px;
    height: 536px;
    background-image: url(../images/phone-X.png);
    background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
    .article_screenshot {
        background-image: url(../images/phone-X-dark.png);
    }
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .article_screenshot {
        background-image: url(../images/phone-X@2x.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 266px;
        height: 536px;
    }

    @media (prefers-color-scheme: dark) {
        .article_screenshot {
            background-image: url(../images/phone-X-dark@2x.png);
        }
    }
}

.article_main_screenshot {
    margin-left: 89px;
    margin-top: 50px;
    position: block;
    width: 722px;
    height: 419px;
    background-image: url(./images/main_screenshot.png);
    background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
    .article_main_screenshot {
        background-image: url(./images/main_screenshot.png);
    }
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .article_main_screenshot {
        display: none;
    }
}

.article_screenshot_image {
    margin-top: 79px;
    margin-left: 17px;
    float: left;
    width: 213px;
    height: 378px;
}

#article_screenshot_secondary  {
    margin-top: 20px;
}

.article_description {
    float: left;
    width: 500px;
    height: 100%;
}

.mobile_line {
    display: none;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .article_description {
        width: 100%;
    }

    .mobile_line {
        display: block;
    }
}

.description_main_title {
    margin-top: 40px;
    font-family: -apple-system-subheadline, BlinkMacSystemFont, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
    font-size: 36px;
    text-align: center;
    color: #303030
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .description_main_title {
        width: auto;
        max-width: 80%;
        margin-top: 30px;
        font-size: 24px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (prefers-color-scheme: dark) {
    .description_main_title {
        color: #fefefe;
    }
}

.description_second_image {
    margin-top: 140px;
    margin-left: 150px;
    width: 200px;
    height: 154px;
    background-image: url(../images/image1.png);
    background-repeat: no-repeat;
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .description_second_image {
        background-image: url(../images/image1@2x.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 200px;
        height: 154px;
    }
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .description_second_image {
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
    }
}

.description_third_image {
    margin-top: 105px;
    margin-left: 130px;
    width: 240px;
    height: 155px;
    background-image: url(../images/image2.png);
    background-repeat: no-repeat;
}

#reports_image {
    background-image: url(../images/image3.png);
}

.description_fourth_image {
    margin-top: 20px;
    margin-left: 160px;
    width: 184px;
    height: 200px;
    background-image: url(../images/image4.png);
    background-repeat: no-repeat;
    float:left;
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .description_third_image {
        background-image: url(../images/image2@2x.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 200px;
        height: 155px;
    }

    #reports_image {
        background-image: url(../images/image3@2x.png);
    }

    .description_fourth_image {
        background-image: url(../images/image4@2x.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 184px;
        height: 200px;
    }
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .description_third_image {
        margin-left: auto;
        margin-top: 40px;
        margin-right: auto;
    }

    .description_fourth_image {
        display: none;
    }
}

.description_secondary_title {
    margin-top: 200px;
    font-family: -apple-system-subheadline, BlinkMacSystemFont, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
    font-size: 36px;
    text-align: center;
    color: #303030
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .description_secondary_title {
        width: auto;
        max-width: 80%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
    }
}

@media (prefers-color-scheme: dark) {
    .description_secondary_title {
        color: #fefefe;
    }
}

.description_text {
    width: 450px;
    margin-left: 25px;
    margin-top: 25px;
    font-family: -apple-system-body, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
    color: #727272;
    position: block;
    margin-bottom: 0px;
}

@media (prefers-color-scheme: dark) {
    .description_text {
        color: #fefefe;
    }
}

.description_main_text {
    width: 100%;
    margin-left: 25px;
    margin-top: 25px;
    font-family: -apple-system-body, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
    color: #727272;
    position: block;
    margin-bottom: 0px;
}

@media (prefers-color-scheme: dark) {
    .description_main_text {
        color: #fefefe;
    }
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .description_text {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }

    .description_main_text {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }
}

.download_buttons {
    margin-left: 210px;
    margin-top:25px;
    margin-bottom:55px;
    height:90px;
    width:auto;
}

.download_button {
    float: left;
}

.download_button a {
    width: 230px;
    height: 75px;
    margin-right: 20px;
    background-color: #2C3245;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;

    padding-top: 15px;
    line-height: 30px;
    vertical-align: middle;
    font-family: -apple-system-short-caption1, BlinkMacSystemFont, "Helvetica-Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
    font-size: 24px;
    text-align: center;
    color: white;

    text-decoration: none;
    display:block;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .download_buttons {
        margin-left: auto;
        margin-right: auto;
        margin-top:25px;
        margin-bottom:25px;
        height:auto;
        width:auto;
    }

    .download_button a {
        margin-top: 30px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color: #52baf2;
    }

    .download_button {
        float: none;
    }

    @media (prefers-color-scheme: dark) {
        .download_button a {
            background-color: #2C3245;
        }
    }
}

.privacy_part {
    display: table;
    margin: 0 auto;
    width: 900px;
    height: 450px;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .privacy_part {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.privacy_title {
    margin-top: 50px;
    font-family: -apple-system-subheadline, BlinkMacSystemFont, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    color: #303030
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .privacy_title {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
    }
}

@media (prefers-color-scheme: dark) {
    .privacy_title {
        color: #fefefe;
    }
}

.privacy_text {
    width: 650px;
    margin-left: 125px;
    margin-top: 45px;
    font-family: -apple-system-body, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-align: left;
    color: #727272;
    position: block;
    margin-bottom: 0px;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .privacy_text {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    .privacy_text {
        color: #fefefe;
    }
}



.footer {
    display: table;
    margin: 0 auto;
    width: 900px;
    height: 40px;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .footer {
        width: 100%;
    }
}

.footer_left {
    float: left;
}

.footer_right {
    float: right;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .footer_right {
        display: none;
    }

    .footer_left ul {
        padding-left:15px;
    }
}

@media (prefers-color-scheme: dark) {
    .footer_left ul {
        color: #fefefe;
    }
}


.footer li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-family: -apple-system-short-caption1, BlinkMacSystemFont, "Helvetica-Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
    font-size: 12px;
}

@media only screen and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .footer li {
        padding-right: 5px;
    }
}

@media (prefers-color-scheme: dark) {
    .footer li {
        color: #fefefe;
    }
}

.footer a {
    color: #2C3245;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    .footer a {
        color: #fefefe;
    }
}

.screenshot-image {
    width: 230px;
    height: 498px;
    background-repeat: no-repeat;
    margin-left: 17px;
    margin-top: 19px;
    border-radius: 28px;
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .screenshot-image {
        background-repeat: no-repeat;
        background-size: 100%;
        width: 230px;
        height: 498px;
        border-radius: 28px;
    }
}

#screenshot-accounts {
    background-image: url(../images/ios-accounts.png);
}

@media (prefers-color-scheme: dark) {
    #screenshot-accounts {
        background-image: url(../images/ios-accounts-dark.png);
    }
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    #screenshot-accounts {
        background-image: url(../images/ios-accounts@2x.png);
    }

    @media (prefers-color-scheme: dark) {
        #screenshot-accounts {
            background-image: url(../images/ios-accounts-dark@2x.png);
        }
    }
}

#screenshot-reports {
    background-image: url(../images/ios-reports.png);
}

@media (prefers-color-scheme: dark) {
    #screenshot-reports {
        background-image: url(../images/ios-reports-dark.png);
    }
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    #screenshot-reports {
        background-image: url(../images/ios-reports@2x.png);
    }

    @media (prefers-color-scheme: dark) {
        #screenshot-reports {
            background-image: url(../images/ios-reports-dark@2x.png);
        }
    }
}

#screenshot-plan {
    background-image: url(../images/ios-plan.png);
}

@media (prefers-color-scheme: dark) {
    #screenshot-plan {
        background-image: url(../images/ios-plan-dark.png);
    }
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    #screenshot-plan {
        background-image: url(../images/ios-plan@2x.png);
    }

    @media (prefers-color-scheme: dark) {
        #screenshot-plan {
            background-image: url(../images/ios-plan-dark@2x.png);
        }
    }
}

#screenshot-shared {
    background-image: url(../images/ios-shared.png);
}

@media (prefers-color-scheme: dark) {
    #screenshot-shared {
        background-image: url(../images/ios-shared-dark.png);
    }
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    #screenshot-shared {
        background-image: url(../images/ios-shared@2x.png);
    }

    @media (prefers-color-scheme: dark) {
        #screenshot-shared {
            background-image: url(../images/ios-shared-dark@2x.png);
        }
    }
}

#screenshot-accounts-ru {
    background-image: url(../ru/images/ios-accounts.png);
}

@media (prefers-color-scheme: dark) {
    #screenshot-accounts-ru {
        background-image: url(../ru/images/ios-accounts-dark.png);
    }
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    #screenshot-accounts-ru {
        background-image: url(../ru/images/ios-accounts@2x.png);
    }

    @media (prefers-color-scheme: dark) {
        #screenshot-accounts-ru {
            background-image: url(../ru/images/ios-accounts-dark@2x.png);
        }
    }
}

#screenshot-reports-ru {
    background-image: url(../ru/images/ios-reports.png);
}

@media (prefers-color-scheme: dark) {
    #screenshot-reports-ru {
        background-image: url(../ru/images/ios-reports-dark.png);
    }
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    #screenshot-reports-ru {
        background-image: url(../ru/images/ios-reports@2x.png);
    }

    @media (prefers-color-scheme: dark) {
        #screenshot-reports-ru {
            background-image: url(../ru/images/ios-reports-dark@2x.png);
        }
    }
}

#screenshot-plan-ru {
    background-image: url(../ru/images/ios-plan.png);
}

@media (prefers-color-scheme: dark) {
    #screenshot-plan-ru {
        background-image: url(../ru/images/ios-plan-dark.png);
    }
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    #screenshot-plan-ru {
        background-image: url(../ru/images/ios-plan@2x.png);
    }

    @media (prefers-color-scheme: dark) {
        #screenshot-plan-ru {
            background-image: url(../ru/images/ios-plan-dark@2x.png);
        }
    }
}

#screenshot-shared-ru {
    background-image: url(../ru/images/ios-shared.png);
}

@media (prefers-color-scheme: dark) {
    #screenshot-shared-ru {
        background-image: url(../ru/images/ios-shared-dark.png);
    }
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    #screenshot-shared-ru {
        background-image: url(../ru/images/ios-shared@2x.png);
    }

    @media (prefers-color-scheme: dark) {
        #screenshot-shared-ru {
            background-image: url(../ru/images/ios-shared-dark@2x.png);
        }
    }
}